.card__overlay {
  padding: 0 10px 10px 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  background-color: #4c4c4c;
  max-width: 300px;
}

.card__image {
}

.card__gender {
}

.card__status {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green {
  background-color: #00ff00;
}
.yellow {
  background-color: #ffff00;
}
.red {
  background-color: #ff0000;
}
